.hello {
  color: aqua;
  transform: translate(-50%, -50%);
  width: 300px;
  border-radius: 1px;

  @media  (max-width: 768px) {
    width: 70px;
  }
}

.class {
  @media  (max-width: 768px) {
    display: block;
  }
}
